{% extends 'prod/base.html' %}

{% block content %}
    <table class="table table-bordered table-hover">
    <thead>
	<tr>
		<th>Номер</th> 
		<th>Клиент</th> 
		<th>Комментарий</th> 
		<th>Статус</th> 
		<th>Дата начала</th> 
		<th>Дата завершения</th> 
		<th></th> 
		<th></th> 
	</tr>
	</thead>
	
    {% for zakaz in zakazs %}
    <tbody>
    <tr>
        <!--<div class="zakaz">-->
            <td><a href="{% url 'zakaz_detail' pk=zakaz.pk %}">{{ zakaz.nom_zak }}</a></td>
            <td><a href="{% url 'zakaz_detail' pk=zakaz.pk %}">{{ zakaz.title }}</a></td>
            <td>{{ zakaz.text|linebreaksbr }}</td>
            <td>{{ zakaz.status }}</td> 
            <td>{{ zakaz.start_date|date }}</td> 
            <td>{{ zakaz.finish_date|date }}</td> 
            <td></td> 
            <td></td> 
        <!--</div>-->
    </tr>
    </tbody>
    {% endfor %}
    
    	  
	</table>

{% endblock %}